{% extends "base.njk" %}

{% block postcontent %}
	<h3>Projects Thus Far</h3>
	<ul>
		{%- for project in projects %}
			<li class="capitalize-first">{{project.title}}</li>
		{%- endfor %}
	</ul>

	<!-- post list: -->
	{%- for postType in postLists %}
		{% postList postType.name,
		collections[postType.collection],
		postType.order %}
	{%- endfor %}
{% endblock %}
