{% extends "base.njk" %}

{% block postcontent %}
	<!-- post list: -->
	{%- for postType in postLists %}
		{% postList postType.name,
		collections[postType.collection],
		postType.order %}
	{%- endfor %}
{% endblock %}
