{% extends "default.njk" %}

{% set templateName = "index" %}

{% block header %}
    <h1 class="header">
        {{site.site_name}}
    </h1>
    <h5>
        <a href="http://aramzs.github.io/aramzs/" target="_blank">By Aram Zucker-Scharff</a>
    </h5>
    <div id="header__social-icons">
        {% include "partials/social-block.njk" %}
    </div>
{% endblock %}

{% block postcontent %}
    <div class="front-post">
        <hr/>
        {% set postslist = collections.posts | slice(-1) %}

        <h3>Latest Post: <a href="{{ postslist[0].url }}">{{ postslist[0].data.title }}</a>
        </h3>
        <p>{{ postslist[0].data.description | safe }}</p>
        <p>
            <a href="{{ postslist[0].url }}">Read the rest...</a>
        </p>
    </div>
    <div class="front-container">
        <div class="column">
            <h3>Projects Thus Far</h3>
            <ul>
                {% for project in projects | slice(5) %}
                    <li class="capitalize-first">
                        <a href="{{project.url}}">{{project.projectName}}</a> | <span>Days worked: {{project.daysWorked}}</span> | <span>Status: {{project.complete}}</span>
                        <!-- last updated:  {{project.lastUpdatedPost}} -->
                    </li>
                {% endfor %}
            </ul>
            <a href="/projects/">Full Project List</a>
        </div>
        <!-- post list: -->
        {% for postType in postLists %}
            <div class="column">
                {% projectList postType.name,
                collections[postType.collection],
                postType.order,
                "h3",
                10 %}
                {% if postType.collection == "links" %}
                    <a href="/links/">More Links</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}