{% extends "default.njk" %}

{% set templateName = "post" %}

{% block endhead %}
<link rel="canonical" href="{{ site.site_url }}{{ page.url }}" />
{% endblock %}

{% block bodytags %}itemscope itemtype="https://schema.org/Blog"{% endblock %}

{% block header_bottom %}
    {% include "partials/byline.njk" %}
{% endblock %}

{% block precontent %}
    <section id="precontent">
        <aside id="toc-container">
            <div id="toc-container__inner">
                <h2>Contents</h2>
                {{ content | toc }}
            </div>
        </aside>
        <div id="post-description">{{ description }}</div>

        {% include "partials/post-image.njk" %}

    </section>
{% endblock %}

{% block postcontent %}
    {% if project and tags.includes("WiP") %}
        {% set previousPost = collections.posts | getPreviousProjectItem(page, project) %}
        {% set nextPost = collections.posts | getNextProjectItem(page, project) %}
        <div class="pagination">
            <a href="{% if previousPost %}{{ previousPost.url }}{% else %}javascript:void(0){% endif %}" class="pagination-link {% if previousPost %}cursor-pointer {% else %} cursor-default disabled-link{% endif %}">Previous Day</a>

            <a href="{% if nextPost %}{{ nextPost.url }}{% else %}javascript:void(0){% endif %}" class="pagination-link {% if nextPost %}cursor-pointer {% else %} disabled-link cursor-default{% endif %}">Next Day</a>
        </div>
    {% endif %}
    {% include "partials/social-block.njk" %}
{% endblock %}

{% block prefooter %}
    <div id="taglist">
        <h6>Tags: </h6>
        <ul>
            {%- for tag in tags | filterTagList -%}
                <li>
                    <a href="{{ site.site_url }}/tag/{{ tag.toLowerCase() | slug }}">{{ tag }}</a>
                </li>
            {%- endfor -%}
        </ul>
    </div>
{% endblock %}