{% extends "default.njk" %}

{% set templateName = "post" %}

{% block bodytags %}itemscope itemtype="https://schema.org/Blog"{% endblock %}

{% block header_bottom %}
{% include "partials/byline.njk" %}
{% endblock %}

{% block precontent %}
<section id="precontent">
    <aside id="toc-container">
        <div id="toc-container__inner">
            <h2>Contents</h2>
            {{ content | toc }}
        </div>
    </aside>
    <div id="post-description">{{ description }}</div>

    {% if featuredImageAlt %}
    <figure class="figure preview-image">
        <img src="{{site.site_url}}/img/{{featuredImage}}" alt="{{featuredImageAlt}}">
        {% if featuredImageCaption or featuredImageCredit %}
        <figcaption class="figcaption">
            {% if featuredImageCaption  %}{{featuredImageCaption}}{% endif %}{% if featuredImageCredit  %} | <em><a href="{{ featuredImageLink }}" target="_blank">{{featuredImageCredit}}</a></em> | {% endif %}
        </figcaption>
        {% endif %}
    </figure>
    {% endif %}

</section>
{% endblock %}

{% block postcontent %}
{% include "partials/social-block.njk" %}
{% endblock %}


{% block prefooter %}
	<div id="taglist">
		<h6>Tags: </h6>
        <ul>
			{%- for tag in tags | filterTagList -%}
			    <li><a href="{{ site.site_url }}/tag/{{ tag | slug }}">{{ tag }}</a></li>
			{%- endfor -%}
        </ul>
	</div>
{% endblock %}
