@use 'variables'

#precontent
    margin-bottom: .2em
    padding-bottom: 0
    #toc-container
        display: table
        border: 2px solid #a2a9b1
        padding: 1em 3em
        font-size: 95%
        background-color: #f8f9fa
        max-width: 100%
        margin-top: 30px
        h2
            margin-top: .5em
            font-size: 1.5em
        @media (max-width: variables.$mobile-width)
            margin-top: 20px
#taglist
    display: block
    width: 100%
    position: relative
    float: left
    ul
        display: block
        position: relative
        float: left
        margin-bottom: 12px
        padding-left: 10px
        li
            font-size: 10px
            line-height: 12px
            height: 12px
            display: block
            float: left
            margin: 3px 0
            padding: 0
            &::after, &:first-of-type::before
                content: "|"
                font-size: 11px
                font-weight: bold
                margin: 0 3px
            &:first-of-type::before
                margin: 0
                margin-right: 3px
@media (prefers-color-scheme: dark)
    #taglist ul li
        font-size: 11px
