@use 'variables'

header
    max-height: 557px
    
h1.header
    word-break: break-word

#precontent
    margin-bottom: .2em
    padding-bottom: 0
    #toc-container
        display: table
        border: 2px solid #a2a9b1
        padding: 1em 0
        font-size: 95%
        background-color: #f8f9fa
        max-width: 100%
        margin-top: 30px
        h2
            margin-top: .5em
            font-size: 1.5em
            margin: 0 1em
        #toc-container__inner
            @media (min-width: variables.$large-mobile) and (min-height: 962px)
                overflow-y: auto
                max-height: 225px
            @media (min-width: variables.$ultra-large)
                overflow-y: auto
                max-height: 80%
        nav
            margin: .5em 1.5em
        ol
            margin-bottom: 12px
        ol ol
            margin-bottom: 0px
        @media (max-width: variables.$mobile-width)
            margin-top: 20px
        @media (min-width: variables.$large-mobile) and (min-height: 962px)
            position: fixed
            top: 490px
            left: 7px
            width: calc(195px + 3em)
            margin-top: 0
            max-height: 278px
            overflow: hidden
            z-index: 100
        @media (min-width: variables.$ultra-large)
            position: fixed
            top: 10px
            left: 1005px
            width: 295px
    #post-description
        padding: 10px 14px
        padding-top: 20px
        border-bottom: 2px white solid
        margin-bottom: 2px
#maincontent
    h2
        margin-top: 20px

.git-commit-link
    text-decoration: underline
    &:hover
        text-decoration-color: grey
    &:after
        content: ' '
        background: transparent url(/img/linkicon-s.png) center right no-repeat
        font-weight: normal
        font-style: normal
        margin: 0px 0px 0px 10px
        text-decoration: none
        background-size: contain
        display: inline-block
        width: 12px
        height: 12px

.pagination
    margin-bottom: 60px

.social-icons-block
    text-align: center

#taglist
    display: block
    width: 100%
    position: relative
    float: left
    ul
        display: block
        position: relative
        float: left
        margin-bottom: 12px
        padding-left: 10px
        li
            font-size: 10px
            line-height: 12px
            height: 12px
            display: block
            float: left
            margin: 3px 0
            padding: 0
            &::after, &:first-of-type::before
                content: "|"
                font-size: 11px
                font-weight: bold
                margin: 0 3px
            &:first-of-type::before
                margin: 0
                margin-right: 3px
        a
            display: inline
    @media (min-width: variables.$large-mobile) and (max-height: 575px)
        display: none
footer
    @media (min-width: variables.$large-mobile) and (max-height: 522px)
        display: none
@media (prefers-color-scheme: dark)
    #taglist ul li
        font-size: 11px
        a
            color: #2a7ae2
