$large-mobile: 960px
a
    color: #2a7ae2
    text-decoration: none
    font-weight: normal
img
    max-width: 100%
.capitalize-first:first-letter
    text-transform: capitalize
.capitalize
    text-transform: capitalize
#site-name-subhead
    margin-bottom: 4px
    a
        text-decoration: underline
        color: #bdbdbd

header
    @media print, screen and (max-width: $large-mobile)
        padding-right: 160px
