---
template: base
templateName: tag
eleventyExcludeFromCollections: true
pagination:
    data: collections.deepTagList
    size: 1
    alias: paged
permalink: "tag/{{ paged.tagName | slug }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}index.html"
eleventyComputed:
    title: "Tag: {{ paged.tagName }}"
    description: "Posts tagged with {{ paged.tagName }}"
---

{% block content %}
<h2>Posts tagged: {{paged.tagName}}</h2>
<div id="post-summary-list">
    <ul>
	{%- for post in paged.posts %}
		<li>{% include "partials/post-summary.njk" %}</li>
	{%- endfor %}
    </ul>
</div>
{% endblock %}
