---
pagination:
    data: collections.tagList
    size: 1
    alias: tag
permalink: "tag/{{ tag | slug }}/"
eleventyComputed:
  title: "Tag: {{ tag }}"
  description: "Posts tagged {{ tag }}"
---

{% block precontent %}
<h2>Posts tagged: {{tag}}</h2>
<div>
	{% postList "noheader",
	collections[tag],
	"reverse",
	"noheader" %}
</div>
{% endblock %}
