---
eleventyExcludeFromCollections: true
pagination:
    data: collections.deepTagList
    size: 1
    alias: paged
permalink: "tag/{{ paged.tagName | slug }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}index.html"
eleventyComputed:
	title: "Tag: {{paged.tagName}}"
	description: "Posts tagged with {{paged.tagName}}"
---

{% block precontent %}
<h2>Posts tagged: {{paged.tagName}}</h2>
<div>
	{%- for post in paged.posts %}
		<p>{{post.data.title}}</p>
	{%- endfor %}
</div>
{% endblock %}
