<h5 itemprop="author" itemscope itemtype="https://schema.org/Person">
    <link itemprop="sameAs" href="http://aramzs.github.io/aramzs/" />
    By <span itemprop="name"><a href="http://aramzs.github.io/aramzs/" target="_blank">Aram Zucker-Scharff</a></span>
</h5>